:host{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 8rem auto 6rem auto;
}

h2{
    margin-bottom: .8rem;
    font-size: 1.7rem;
}

p{
    color: var(--gray-dark);
    font-size: 1.1rem;
}