<nav id="categories" >
    <div class="separator">
        <h4>Categorias</h4>

        
        <div class="separatorText">Loren ipsum dolor</div>
        <div class="separatorDash"></div>
        <div class="separatorText">Loren ipsum dolor</div>
        <div class="separatorDash"></div>
        <div class="separatorText">Loren ipsum dolor</div>
        <div class="separatorDash"></div>
        <div class="separatorText">Loren ipsum dolor</div>
        <div class="separatorDash"></div>
    </div>
    
    <div id="search">
        <p>Procurando alguma notícia?</p>
        <label for="search" class="sr-only">Pesquisa</label>
        <input id="search" type="text" placeholder="Procurar por...">
    </div>

</nav>

