

<article class="content">
    <div id="bg">
          <img src="./assets/img/covid.jpg" alt="">
      </div>
      <div class="text">
          <h4> {{ title }} </h4>
          <p> {{ text }} </p>

          <a href="#"  >Leia mais</a>
            <div id="postsText1"> </div>
    </div>
</article >

<div></div>

<article class="content">
    <div id="bg">
          <img src="./assets/img/covid.jpg" alt="">
      </div>
      <div class="text">
          <h4> {{ title }} </h4>
          <p> {{ text }} </p>

          <a href="#"   >Leia mais</a>
            <div id="postsText2"> </div>
    </div>
</article >

<article class="content">
    <div id="bg">
          <img src="./assets/img/covid.jpg" alt="">
      </div>
      <div class="text">
          <h4> {{ title }} </h4>
          <p> {{ text }} </p>

          <a href="#"   >Leia mais</a>
            <div id="postsText3"> </div>
    </div>
</article >

<article class="content">
    <div id="bg">
          <img src="./assets/img/covid.jpg" alt="">
      </div>
      <div class="text">
          <h4> {{ title }} </h4>
          <p> {{ text }} </p>

          <a href="#"  >Leia mais</a>
            <div id="postsText4"> </div>
    </div>
</article >

<article class="content">
    <div id="bg">
          <img src="./assets/img/covid.jpg" alt="">
      </div>
      <div class="text">
          <h4> {{ title }} </h4>
          <p> {{ text }} </p>

          <a href="#"   >Leia mais</a>
            <div id="postsText5"> </div>
    </div>
</article >

<article class="content">
    <div id="bg">
          <img src="./assets/img/covid.jpg" alt="">
      </div>
      <div class="text">
          <h4> {{ title }} </h4>
          <p> {{ text }} </p>

          <a href="#"   >Leia mais</a>
            <div id="postsText6"> </div>
    </div>
</article >

<!-- <router-outlet></router-outlet> -->
